body {
    font-family: 'Nunito', sans-serif;
    font-size: 24px;
    background-color: #5CDB95;
    text-align: center;
}
h1 {
    color: dimgrey;
    background-color: whitesmoke;
    max-width: 50%;
    margin: 10px auto;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    size: 50px;
    font-family: cursive;
}
div {
    color: dimgrey;
    background-color: whitesmoke;
    max-width: 50%;
    margin: 10px auto;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    size: 50px;
    font-family: cursive;
}

.pic {
    width: 300px;
    height: 200px;
    padding: 25px;

}

span {
    color: #5CDB95;
}
span:hover{
    color: greenyellow;
}


